<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  *
  ~  *  * Copyright (c) 2011 Net Vigil Software, Inc. All Rights Reserved.
  ~  *  *
  ~  *  * This software is the proprietary information of Net Vigil Software, Inc.
  ~  *  * Use is subject to license terms.
  ~  *
  ~  */
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [app=litrumWebProject] [%t] %c - %m%n"/>
        </layout>
    </appender>

    <appender name="LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/litrumWebProject-all-logs.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [app=litrumWebProject] [%t] %c - %m%n"/>
        </layout>
    </appender>

    <!--  Print the Hibernate SQL -->
    <logger name="org.hibernate.SQL">
        <level value="INFO"/>
    </logger>
    <logger name="com.mchange.v2">
        <level value="INFO"/>
    </logger>
    <!--  Print values bound to the Hibernate SQL -->
    <logger name="org.hibernate.type">
        <level value="INFO"/>
    </logger>
    <!--  Log the state of all entities (max 20 entities) associated with the session at flush time -->
    <logger name="org.hibernate.pretty">
        <level value="INFO"/>
    </logger>
    <!-- Warning message of Narrowing proxy to class will go aways. check https://forum.hibernate.org/viewtopic.php?p=2404391 -->
    <logger name="org.hibernate.engine.internal.StatefulPersistenceContext">
        <level value="ERROR"/>
    </logger>
    <logger name="com.litrum.webproject">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="LOG_FILE"/>
    </root>

</log4j:configuration>
