<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  *
  ~  *  * Copyright (c) 2011 Net Vigil Software, Inc. All Rights Reserved.
  ~  *  *
  ~  *  * This software is the proprietary information of Net Vigil Software, Inc.
  ~  *  * Use is subject to license terms.
  ~  *
  ~  */
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [app=litrumWebProject] [%t] %c - %m%n"/>
        </layout>
    </appender>

    <appender name="LOG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/litrumprojectLogs//litrumWebProject-all-logs.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [app=litrumWebProject] [%t] %c - %m%n"/>
        </layout>
    </appender>

    <logger name="com.litrum.webproject">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="LOG_FILE"/>
    </root>

</log4j:configuration>
